<h1>[{{title}}] 글 작성</h1>

<div>
    <!-- 글 작성 폼 -->
    <form action="/write" name="boardForm" method="post">

        <!-- 제목 입력 -->
        <div>
            <label>제목</label>
            <input type="text" name="title" placeholder="제목을 입력하세요." value="">
        </div>

        <!-- 이름 입력 -->
        <div>
            <label for="">이름</label>
            <input type="text" name="writer" placeholder="이름을 입력하세요." value="">
        </div>

        <!-- 비밀번호 입력 -->
        <div>
            <label for="">비밀번호</label>
            <input type="password" name="password" placeholder="비밀번호를 입력하세요.">
        </div>

        <!-- 본문 입력 -->
        <div>
            <label for="">본문 내용</label>
            <br>
            <textarea name="content" cols="50" rows="10" placeholder="본문"></textarea>
            <br>
        </div>

        <!-- 버튼 영역 -->
        <div>
            <button type="submit">등록</button>
            <button type="button" onclick="location.href='/'">돌아가기</button>
        </div>
    </form>
</div>